<!DOCTYPE html>
<html>
<head>

<title>Farmer Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="form-page">

<div class="form-card">

<h2>Farmer Login</h2>

<form method="POST">

<input type="text" name="email" placeholder="Enter Email">

<input type="password" name="password" placeholder="Enter Password">

<button type="submit">Login</button>

</form>
<p class="register-link">
New Farmer? <a href="/register">Create Account</a>
</p>

</div>

</div>

</body>
</html>
