<!DOCTYPE html>
<html>
<head>
<title>Validation</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<header>
<div class="logo">🌿 Recommendation Validation</div>
</header>

<div class="container">

<div class="card">

<h2>Was this recommendation helpful?</h2>

<form action="/submit_feedback" method="post">

<button name="feedback" value="Yes">Yes</button>

<button name="feedback" value="No">No</button>

</form>

</div>

</div>

</body>
</html>
